deploymentName: application
namespace: default

replicaCount: 2
environment: production

image:
  repository: nginx
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hostnames:
    - application.localhost
  path: /
